<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="public/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>