<form method="POST" action="/protected/booking">
<input type="date" name="pickUpDate">pickupdate
<input type="time" name="pickUpTime">pickuptime
<input type="date" name="returnDate">returndate
<input type="time" name="returnTime">returntime
<input type="text" name="pickUpLocation">location
<input type="submit">submit
</form>