<form id="payment-form" class="main-content" method="POST" action="/protected/booking">
<h2>{{title}}</h2>
<div class="container">
   <table style="padding: 15px;">
    <thead>
            <tr>
                <td colspan="4" style="text-align: center;"></td>
            </tr>
        </thead>
   </table>
            <h3> Enter Booking details</h3>
              <tbody>
                 <tr>
                <td>
                  pickUpDate: 
                </td>
                <td>
                    <input type="date"  name "pickUpDate" 
                    pattern="/^\d{2}\/\d{2}\/\d{4}$/"><br><br>
                </td>
            </tr>
</form>