<div id="error-div" class="main-content">
  <h1>{{title}}</h1>
  <img src="../public/car.png" alt="Renting a car" />

  <p class="error">{{error}}</p>
  {{#if temp}}
    <a href="/protected/booking">Booking</a>
  {{/if}}

  <a href="/protected/logoutConfirm">Click here to Logout</a>
  <a href="/protected/welcome">Click here to go to welcome page</a>
</div>