<div id="forbidden-page" class="main-content">
  <h1>You are not logged in. Please login again to access your account</h1>
   <img src="../public/car.png" alt="Renting a car" />

      <a href="/login">Login</a>

</div>