<div id="logout-page" class="main-content-logout">
  <h1>{{title}}</h1>
  <img src="../public/car.png" alt="Renting a car" />

  <p>Thank you for using DriveNow Car Rentals</p>
 <a href="/">Login Again</a>
</div>