<div id="logout-page" class="main-content">
  <h2>{{title}}</h2>
  <img src="../public/car.png" alt="Renting a car" />

  <p>Thank you for using DriveNow Car Rentals</p>
 <a href="/">Login Again</a>
</div>