{{! ask for sending confirmation email ??}}
<h3> Details about sending email</h3>
<form id="email-send-form" method="Post" action="send">
  {{!-- {{msg}} --}}
  <p>Enter email for further communications:</p>
  <label for="email">Email</label>
  <input
    placeholder="name@example.com"
    name="email"
    id="email"
    required
    pattern="[^ @]*@[^ @]*"
  />
  <button type="submit">Submit</button>

</form>