<div id="success-div" class="main-content">
  <h1>{{title}}</h1>

  <p> Rating was successfully submitted!, you can always change your rating if you change your mind</p>
  <a href="/protected/welcome">Click here to go to dashboard</a>
  <a href="/protected/logoutConfirm">Click here to Logout</a>

  

</div>