<div id="error-div" class="main-content">
  <h2>{{title}}</h2>


  <p class="error">"Your Wallet Balance i.e., {{wallet}} is less than the Total Cost {{total}}. Please add money to your wallet first!.</p>

  <a href="/protected/logoutConfirm">Click here to Logout</a>
  <a href="/protected/welcome">Click here to go to welcome page</a>
</div>