<div id="walletMoneyUpdate-div">
  <form
  id="walletAddMoney-form"
  class="main-content"
  method="POST"
  action="/protected/walletMoneyUpdate"
>
  <h1>{{title}}</h1>

  <p>Current Wallet Amount is: {{availableWalletMoney}}</p>

  <h2>Add money to wallet</h2>
  <label for="cardNumber">Card Number</label>
  <input
    placeholder="Enter your card number"
    id="cardNumber"
    name="cardNumber"
    required
    type="tel"
    pattern="\d*"
    maxlength="16"
  />

  <label for="cardName">Name</label>
  <input
    placeholder="Enter name on the card"
    id="cardName"
    name="cardName"
    required
  />

  <label for="cardCvv">CVV</label>
  <input
    class="cc-cvc"
    type="password"
    placeholder="Enter 3 digit CVV"
    id="cardCvv"
    name="cardCvv"
    required
    maxlength="3"
  />

  <label for="cardExpiry">Expiry</label>
  <input
    class="cc-expires"
    placeholder="Enter the expiry- MM/YY"
    id="cardExpiry"
    name="cardExpiry"
    required
    maxlength="5"
  />

  <label for="moneyAdded">Enter Amount</label>
  <input
    placeholder="Enter Amount"
    id="moneyAdded"
    name="moneyAdded"
    required
  />

  <button type="submit">Submit</button>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <a href="/protected/logoutConfirm">Click here to Logout</a>
  <a href="/protected/welcome">Go back to Dashboard</a>

</form>
</div>


