<div>
  <h2>{{firstName}} {{lastName}}!</h2>

  <a href="/protected/payment">Click here for payment</a>

  <a href="/protected/logout">Click here to Logout</a>

  <a href="/protected/booking">Click here to book car</a>
</div>