
 <div class="main-content">
    <h2> {{title}} , {{firstname}} {{lastname}}!</h2>

           
           <p><a  href="/protected/payment"> Click here for payment</a></p>
           <p> <a href="/protected/logout">Click here to Logout</a></p>
           <p><a href="/protected/booking">Click here to book a car</a></p>
    </div>



  
