<div>
  <h2>Welcome {{firstName}} {{lastName}}!</h2>

  <p><a href="/protected/payment">Click here for payment</a></p>

  <p><a href="/protected/logout">Click here to Logout</a></p>

  <p><a href="/protected/booking">Click here to book car</a></p>