
 <div>
    <h2> {{title}} , {{firstname}}, {{lastname}}</h2>

           
           <p><a  href="/payment"> Click here for payment</a></p>
           <p> <a href="/logout">Click here to Logout</a></p>
           <p><a href="/booking">Click here to book a car</a></p>
    </div>



  
